= link_to 'Персональні налаштування', '', class: "general-back-link"
:javascript
  $('.general-back-link').on('click', function(e) {
    e.preventDefault()
    $(this).parent().html('#{escape_javascript render partial: 'user_form', locals: { resource: resource, resource_name: resource_name }}')
  })
.row
  .col-md-5.mb-40
    %h3.general-subtitle Персональна адреса
    = render partial: 'address_form', locals: { type: :billing, user: resource }
