  <h3>Де нас знайти</h3>

<div class="hidden-xs">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3139.980650405099!2d35.09683065240864!3d48.563916443782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDMzJzUwLjAiTiAzNcKwMDUnNTYuOSJF!5e0!3m2!1sru!2sua!4v1534943382365" width="600" height="450" frameborder="0" style="border:0; margin-bottom: 3%;" allowfullscreen></iframe>
</div>

<div class="visible-xs">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3139.980650405099!2d35.09683065240864!3d48.563916443782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDMzJzUwLjAiTiAzNcKwMDUnNTYuOSJF!5e0!3m2!1sru!2sua!4v1534943382365" width="300" height="400" frameborder="0" style="border:0; margin-bottom: 3%;" allowfullscreen></iframe>
</div>

  <h3>Наші контакти</h3>

  <h3><%= image_tag "https://banner2.kisspng.com/20180404/xse/kisspng-vodafone-australia-logo-mobile-broadband-vodafone-5ac4b73b1c7088.5055909915228414031165.jpg", size: "30x30" %>  +380506630705 </h3>
  <h3 style="margin-bottom: 4%"><%= image_tag "https://bluemountainfengshui.org/wp-content/uploads/2015/07/kyivstar_new3.jpg", size: "30x30" %> +380679644028 </h3>



