<div class="input-group filtering-select col-sm-2" style="float: left;">
<%= form.select :aasm_state, Order::STATES.map { |e| e },{}, {class: "form-control ra-filtering-select-input ui-autocomplete-input", style: "display: inline-block;"} %></div>
